/*****************
Global Style Rules
*****************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #f6f6f6;
    margin: 0; /* Removes background border around elements */
}

.content-wrap {
  max-width: 960px;
  min-width: 560px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

header, footer {
  background: #781d7d;
  color: #fff;
  padding: 10px;
}

div {
  margin: 10px;
  background: #ffffff;
}

section {
  margin-top: 10px;
  display: block;
  background:
}

h1 {
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
  font-size: 1.5em;
}

h1, h2 {
  text-align: center;
  font-size: 2.25em;
}

a {
  padding: 10px;
}

.btn {
  text-decoration: none;
  background: #781d7d;
  color: #fff;
  display: inline-block;
}

.btn:hover {
  background: #781d7d;
  color: #e63946;
  font-weight: bolder;
}
