<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outside</title>
    <link rel=stylesheet href="({ url_for('static',filename='styles/styles.css')})" />
</head>
<body>
    <header role="banner">
    <h1>Inter Activ Tours</h1>

    </header>
    <div class="content-wrap" role="video">
        <h2>Outside</h2>
          <video width="640" height="480" controls>
          <source src="../Video/Outside.mp4" type="video/mp4">
      </video>
    </div>
    <footer role="contentinfo">

    </footer>
</body>
</html>
